@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Basic Sample</h2>
            <p>
                <a href="/Demo/Basic" class="button">Basic</a>
            </p>
        </div>
        <div>
            <h2>
                Time Sheet Create UI Sample</h2>
            <p>
                <a href="/Demo/TimeSheetUI" class="button">Time Sheet Create UI</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Dynamic Time Sheet UI Sample</h2>
            <p>
                <a href="/Demo/DynamicTimeSheetUI" id="" class="button">Dynamic Time Sheet UI</a>
            </p>
        </div>
        <div>
            <h2>
                Final Sample</h2>
            <p>
                <a href="/Demo/Final" id="" class="button">Final</a>
            </p>
        </div>
        <div>
            <h2>
                Hunk Sample</h2>
            <p>
                <a href="/Demo/Hunk" id="" class="button">Hunk</a>
            </p>
        </div>
    </div>
</div>
